.footnotes {
    border-top: 1px solid $border-color;
    font-size: 0.8em;
}

figure {
    text-align: center;
}

figcaption {
    font-size: 0.8em;
    font-style: italic;
    width: 80%;
    margin: 0 auto;
}